<configuration>
    <system.web>
        <remove fileExtension=".eot"/>
        <remove fileExtension=".woff2"/>

        <mimeMap fileExtension=".woff2" mimeType="font/woff2"/>
        <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject"/>
        <mimeMap fileExtension=".otf" mimeType="font/otf"/>
        <mimeMap fileExtension=".woff" mimeType="font/x-woff"/>
    </system.web>
</configuration>