/* basically imports everything from style.css into here, so less copy-pasting :) */
@import url("style.css"); 

/* global variables with colors & transitions */
:root {
    --primary-color: #e0ab1f;
    --secondary-color: #fbd736;
    --dark-color: #c16b03;
    --hof-primary: #8f563b;
    --hof-secondary: #663931;
    --hof-gold: #e0ab1f;
    --hof-gold-secondary: #c16b03;
    --hof-gold-light: #fbd736;
    --hof-gold-dark: #8b4312;
  }

body {
    background-color: var(--hof-secondary);
    color: var(--hof-gold-light);
    font-family: "daydream";
}

/* the text INSIDE of the parallax bg */
span {
  background-color: #00000000;
  /* backdrop-filter: blur(8px); */
  /* -webkit-backdrop-filter: blur(8px); */
  padding: 25%;
}

h1 {
  transition-timing-function: cubic-bezier(.04,.43,.12,.93);
  transition-duration: 0.25s;
}

h2 {
  font-size: 36px;
  color: var(--hof-gold);
  transition-timing-function: cubic-bezier(.04,.43,.12,.93);
  transition-duration: 0.25s;
}

h1, h2, p, li {
  transition: all 0.5s ease-in-out 0s;
  transition-timing-function: cubic-bezier(0,1.07,.51,.95);
}

h1:hover {
  color: #fffff0;
}

h2:hover {
  color: #fffff0;
}

p:hover {
  color: #fffff0;
}

li:hover {
  color: #fffff0;
}

p {
  font-size: 24px;
}

.mediabtn {
  font-family: "daydream";
  display: flex;
  column-gap: 20px;
  justify-content: center;
  align-items: center;
  background-color: var(--hof-primary);
  color: var(--hof-gold-secondary);
  text-shadow: 2px 2px 0 #00000081;
  border-radius: 10;
  font-size: 18px;
  font-weight: 700;
  padding:6px 24px;
  text-decoration:none;
  /* transitions for hover effect */
  transition: all 0.5s ease-in-out 0s;
  transition-timing-function: cubic-bezier(0,1.07,.51,.95);
}

.mediabtn:hover {
  font-size: 20px;
  color: #fffff0;
}

.mediabtn:active {
  font-size: 16px;
  color:var(--hof-gold);
}

#songtitle {
  font-size: 16px;
  color: var(--hof-gold);
  transition-timing-function: cubic-bezier(.04,.43,.12,.93);
  transition-duration: 0.25s;
}

#songtitle:hover {
  color: #fffff0;
}

.playermenuwrapper {
  background: #00000081;
  padding: 10px;
  position: sticky;
  position: -webkit-sticky;
  top: 50px; /* required */
  transform: translate(0,50);
}

.parallax {
  /* The image used */
  background-image: url("../images/hall of fame sketch blurred.jpg");

  /* alignment */
  align-items: center;
  margin: auto;
  /* Set a specific height */
  text-align: center;
  min-height: 1024px;
  line-height: 1024px; /* makes the text height centered */
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



/* NAVIGATION BAR but different colors */
  
  nav ul li {
    background-color: var(--hof-primary);
    float: left;
    /* border: 4px solid #ffffff; */
    /* box-shadow: 1.95px 1.95px 2.6px rgba(0, 0, 0, 0.5); */
    /* text-transform: uppercase; */
    display: flex;
    color: var(--hof-gold-secondary);
    font-weight: 200;
    transition: all 0.1s linear;
  }
  
  nav ul li:hover {
    background-color: var(--hof-gold);
    color: #fff;
  }

  /* flexbox made to put people into different categories (ex: irls, online friends, etc.) */
.awesomePPL {
  display: flex;
  border: 10px solid var(--hof-gold-secondary);
  text-shadow:2px 2px 0 #0000007c;
  /* border ROUNDNESS */
  border-radius: 10px;
}

.box {
  flex: 1;
  margin: 15px;
  padding: 15px;
  border: 5px solid var(--hof-gold-dark);
  text-shadow:2px 2px 0 #0000007c;
  font-family: "omorigame2", "rainyhearts";
}

  /* button code */
  .btn {
    width:200px;
    height:100px;
    background:-webkit-gradient( linear, left top, left bottom,
    color-stop(0.05, var(--hof-primary)),
    color-stop(1, var(--hof-secondary)) );
    /* background-color:#fff; */
    /* border-radius:6px; */
    /* border:1px solid #dcdcdc; */
    display: flex;
    flex-direction: column-reverse;
    column-gap: 20px;
    justify-content: center;
    align-items: center;
    color:var(--hof-gold-secondary);
    font-size:18px;
    font-weight:700;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:2px 2px 0 #000000;
    font-weight: 500;
    /* transitions for hover effect */
    transition: all 0.5s ease-in-out 0s;
    transition-timing-function: cubic-bezier(0,1.07,.51,.95);
  }
  
  .btn:hover {
    font-size: 20px;
  }
  
  .btn:active {
    font-size: 16px;
    color:var(--secondary-color);
  }

  /* CUSTOM SCROLLBAR */

*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: var(--hof-gold-secondary);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--hof-gold);
  border-radius: 10px;
  border: 3px none #ffffff;
}

li {
  text-shadow:2px 2px 0 #000000;
}

a {
  
  font-weight: bold;
  text-decoration: none;
  color: var(--hof-gold-light);
  transition: color 1s;
  transition-timing-function: cubic-bezier(.04,.43,.12,.93);
  transition-duration: 0.25s;

}

a:hover {
  color: #efe2b7;
  cursor: pointer;
}