/* basically imports everything from style.css into here, so less copy-pasting :) */
@import url("/stylesheets/style.css"); 

body {
    background-color: var(--dark-color);
    color: var(--primary-color);
    font-family: "Daydream";
}

.btn {
    width:200px;
    height:100px;
    background:-webkit-gradient( linear, left top, left bottom,
    color-stop(0.05, var(--secondary-color)),
    color-stop(1, var(--dark-color)) );
    background-color:#fff;
    /* border-radius:6px; */
    /* border:1px solid #dcdcdc; */
    display: flex;
    flex-direction: column-reverse;
    column-gap: 20px;
    justify-content: center;
    align-items: center;
    color:var(--dark-color);
    font-size:18px;
    font-weight:700;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:2px 2px 0 #fff;
    font-weight: 500;
    /* transitions for hover effect */
    transition: all 0.5s ease-in-out 0s;
    transition-timing-function: cubic-bezier(0,1.07,.51,.95);
  }